body{
	width: 1100px;
	height: 150px;
	margin: 0 auto;
}
table{
	text-align: center;
}
table tr td{
	color: #ffffff;
}
img{
	width: 270px;
	height: 270px;
	margin: auto;
	text-align: center;
}
span{
	color: #ffffff;
}